.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 8vh;
  overflow-x: auto;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .CategoryList {
    flex-wrap: nowrap;
  }
}

.category-item {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  border: none;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 23px;
  padding-left: 3vw;
  padding-right: 3vw;
  cursor: pointer;
}

.category-item:hover {
  color: #c45a0e;
  border-bottom: 3px solid #c45a0e;
}

.is-active-category-item {
  color: #c45a0e;
  border-bottom: 3px solid #c45a0e;
}

.is-inactive-category-item {
  color: black;
  border-bottom: null;
}

@media screen and (max-width: 768px) {
  .category-item {
    font-size: 21px;
    padding-bottom: 1.8vh;
  }
}
